<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Team</title>
    <link rel="stylesheet" href="./static/aboutstyle.css">
</head>
<body>
    <div class="wrapper">
        <h2>About Team Amrit</h2>
        <hr>
        <div class="members">
            <div class="team-mem">
                <img src="./static/images/team/mridul_1.png">
                <h4><a href="https://www.linkedin.com/in/mridulgoyal-/">Mridul Goyal</a></h4>
                <p>Team Captain</p>
                <!-- <p>https://www.linkedin.com/in/mridulgoyal-/</p> -->
            </div>
            <div class="team-mem">
                <img src="./static/images/team/bhavishi_1.png">
                <h4><a href="https://www.linkedin.com/in/bhavishi-bansal">Bhavishi Bansal</a></h4>
                <p>Team Member</p>
                <!-- <p>https://www.linkedin.com/in/bhavishi-bansal/</p> -->
            </div>
            <div class="team-mem">
                <img src="./static/images/team/charan_1.png">
                <h4><a href="https://www.linkedin.com/in/devanapallycharantej/">Devanapally Charan Tej</a></h4>
                <p>Team Member</p>
                <!-- <p>https://www.linkedin.com/in/devanapallycharantej/</p> -->
            </div>
            <div class="team-mem">
                <img src="./static/images/team/asad_1.png">
                <h4><a href="https://www.linkedin.com/in/mohammad-asad-ae/">Mohammad Asad</a></h4>
                <p>Team Member</p>
                <!-- <p>https://www.linkedin.com/in/mohammad-asad-ae/</p> -->
            </div>
        </div>
    </div> 
</body>
</html>