<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="codecell, tsec, contact, contact us, harsh kapadia, html, css, js, vanilla css">
        <meta name="description" content="A static contact us page for TSEC CodeCell by Harsh Kapadia">
        <meta name="author" content="Harsh Kapadia">

        <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./static/contactus.css">
        <link rel="stylesheet" href="./static/footer.css">
        
        <link rel="shortcut icon" href="./static/images/codecell_logo.svg" type="image/x-icon" sizes="any">

        <script defer src="./static/js/account_dropdown.js"></script>
        <script defer src="./static/js/burger_menu_dropdown.js"></script>

        <title>Contact | Amrit</title>
    </head>
    {% load static %}
    <body>

        <main>
            <div class="title">Contact us</div>
            <div class="title-info">We'll get back to you soon!</div>

            <form action="" method="" class="form">
                <div class="input-group">
                    <input type="text" name="first_name" id="first-name" placeholder="First name">
                    <label for="first-name">First name</label>
                </div>
                
                <div class="input-group">
                    <input type="text" name="last_name" id="last-name" placeholder="Last Name">
                    <label for="last-name">Last name</label>
                </div>

                <div class="input-group">
                    <input type="email" name="e-mail" id="e-mail" placeholder="e-mail">
                    <label for="e-mail">E-mail</label>
                </div>

                <div class="textarea-group">
                    <textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
                    <label for="message">Message</label>
                </div>

                <div class="button-div">
                    <button type="submit">Send</button>
                </div>
            </form>
        </main>

        <footer>
            <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/facebook.svg" alt="Facebook"></a>
            <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/github.svg" alt="GitHub"></a>
            <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/instagram.svg" alt="Instagram"></a>
 
            <a href="#"><img class="amrit-img" src="./static/images/Amritlogo.png" alt="TSEC CodeCell"></a>
 
            <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/linkedin.svg" alt="LinkedIn"></a>
            <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/twitter.svg" alt="Twitter"></a>
            <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/youtube.svg" alt="YouTube"></a>
        </footer>
    </body>
</html>