<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="codecell, tsec, contact, contact us, harsh kapadia, html, css, js, vanilla css">
        <meta name="description" content="A static contact us page for TSEC CodeCell by Harsh Kapadia">
        <meta name="author" content="Harsh Kapadia">

        <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./static/footer.css">

        <title>Contact | Amrit</title>
    </head>
    {% load static %}
    <body>
<footer>
    {% block content %}
    <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/facebook.svg" alt="Facebook"></a>
    <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/github.svg" alt="GitHub"></a>
    <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/instagram.svg" alt="Instagram"></a>

    <a href="#"><img class="amrit-img" src="./static/images/Amritlogo.png" alt="TSEC CodeCell"></a>

    <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/linkedin.svg" alt="LinkedIn"></a>
    <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/twitter.svg" alt="Twitter"></a>
    <a href="#" target="_blank"><img class="social-media-img" src="./static/images/social_media/youtube.svg" alt="YouTube"></a>
    {% endblock content %}<br>
    </body>
</footer>