<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/services.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Times New Roman:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;0,700;1,700&display=swap"
    />
  </head>
  <body>
    <div class="group-parent">
      <div class="component-wrapper">
        <div class="rectangle-parent">
          <div class="component-child"></div>
          <div class="component-item"></div>
          <b class="home">Home</b><b class="about">About</b
          ><b class="services">Services</b><b class="contact">Contact</b
          ><b class="login">login</b
          ><button class="button"><b class="get-started">Get started</b></button
          ><i class="amrit">AMRIT</i
          ><i class="nectar-of-career">Nectar of career</i
          ><img class="component-inner" alt="" src="./static/images/services/line-1.svg" />
          <div class="services1">Services</div>
          <div class="line-div"></div>
          <img class="ellipse-icon" alt="" src="./static/images/services/ellipse-1.svg" /><img
            class="component-child1"
            alt=""
            src="./static/images/services/ellipse-2.svg"
          /><img class="component-child2" alt="" src="./static/images/services/ellipse-3.svg" />
          <div class="rectangle-div"></div>
          <button class="rectangle-button"></button
          ><b class="scholarship">Scholarship</b>
          <div class="learn-more">learn more</div>
          <b class="career-guidance">Career Guidance</b
          ><img
            class="career-guidance-324x235-1-icon"
            alt=""
            src="./static/images/services/careerguidance324x235-1@2x.png"
          /><button class="component-child3"></button>
          <div class="learn-more1">learn more</div>
          <div class="oip-magic-1-1-parent">
            <img
              class="oip-magic-1-1"
              alt=""
              src="./static/images/services/oip-magic-1-1@2x.png"
            />
            <div class="group-child"></div>
          </div>
          <div class="to-explore-different">
            To explore different career options.
          </div>
          <div class="to-know-about">
            To Know about different scholarships that you are eligible. click to
            know more.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
